.header {
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;

  &__title {
    margin-left: 5%;
    a {
      color: #2196f3;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      text-decoration: none;
    }
  }

  &__controls {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5%;
  }

  @media screen and (max-width: 950px) {
    border-bottom: none;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    &__title {
      margin-left: 0;
    }

    &__controls {
      align-items: center;

      margin-right: 0;
      width: 80%;
    }
  }
}
