footer {
  color: #2196f3;
  background-color: #ebebeb;
  bottom: 0;
  box-sizing: border-box;
  padding: 1.5rem;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  h2 {
    margin: 0;
  }
}
